body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top {
  background-color: white!important;
  border-bottom: thin solid rgb(233, 233, 233);
}
.linkNavigation {
  padding: 15px;
  color: #575757;
  /* font-family: 'Open Sans', 'Roboto', 'Helvetica', Sans-Serif; */
}
.linkNavigation:hover {
  text-decoration: none;
  color: black;
}

.slideWraper { /* responsive */
  position: relative;
  overflow: hidden;
}

.mapImage { /* responsive */
  position: absolute;
  z-index: 10;
}

.o2oStyle { /* responsive */
  position: absolute;
  z-index: 20;
  display: inline-table;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.coreValue {
  padding: 0px;
  margin: 0px;
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
}

.h2Quote { /* responsive */
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: 'Quicksand';
  padding-bottom: 25px;
}

.cardStyle {
  margin-bottom: 15px;
}

.hijau1 { background: #8aba9f; }
.hijau2 { background: #9DD5CD; }
.hijau3 { background: #A1FFD8; }

.imageCard { } /* responsive */

.imageProgram {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px ;
}

.h3Program { /* responsive */
  background: #4b946a;
  padding: 10px;
  text-align: center;
  margin: 0px;
  color: white;
  font-family: 'Roboto';
}

.ulStyleProgram {
  background: #daf2e2;
  margin: 0px;
  padding: 15px 40px;
  border-bottom: 5px solid #b6d2ca;
  border-radius:  0px 0px 10px 10px;
}

.ulStyleProgram > li {
  color: #5f5f5f;
  font-family: 'Roboto';
}

.descColor1 { background: #daf2e2;}
.descColor2 { background: #e0f9f5;}
.descColor3 { background: #edfff6;}

.footer > ul {
  margin: 0;
  padding: 10px 0px;
}
.footerAddress  {
  float: left;
}
.footerAddressIcon {
  color: white;
}
.footerAddress > p {
  font-size: 13px !important;
  line-height: 16px;
  color: #bcd1de;
  display: table;
  padding-bottom: -10px;
}
